---
title: About me | François Vilaire, Product Designer
layout: layouts/base.njk
permalink: about.html
---

<h1>About me</h1>
<p>I am not a unicorn-influencer-digital-ninja-artist: my job is to be a designer, quite simply. I therefore strive to always keep a critical eye on my profession, its methods and the goals it serves.</p>
<p>My design approach is always thought out in the context in which it takes place, in order to design interfaces and solutions for (and with) the user, based on dialogue, pedagogy, curiosity and empathy.</p>
<p>In short, in the midst of design systems, designing accessible interfaces, prototyping and meeting real people, I let my curiosity be nourished every day, with the very simple desire to constantly continue to learn new things.</p>

<h2>On a daily basis, I can accompany for 4 moments</h2>
<ul>
    <li>🔍 <strong>Research:</strong> questionnaires, interviews with users, accessible visual synthesis.</li>
    <li>💡 <strong>Design:</strong> wireframes, user interfaces mockups, UI kits and design systems.</li>
    <li>📱 <strong>Testing:</strong> prototypes, test protocols, user testing.</li>
    <li>🗣 <strong>Animation:</strong> co-design workshops, training of teams in the main principles of UX and UI design.</li>
</ul>

<h3>To know more about my background</h3>
<p>The <a href="https://www.linkedin.com/in/fran%C3%A7ois-vilaire-9a9bb117/" target="_blank">Linkedin</a> friend is here, as well as the email address <a href="mailto:hello@francoisvilaire.com">hello@francoisvilaire.com</a>.</p>
