---
title: About me | François Vilaire, Product Designer
layout: layouts/base.njk
permalink: about.html
---

<section class="row row-center">

    <div class="column">
        <img src="./img/about-portrait.jpg" class="portrait" alt="Portrait of François Vilaire">
    </div>

    <div class="column column-66">
        <h1 class="title--l">About me</h1>
        <p class="text--l">I'm not your typical unicorn-influencer-digital-ninja-artist. I'm a designer, plain and simple. My focus is on maintaining a deep connection with my profession, its methods, and the people it serves.</p>
        <p class="text--l">My design approach is rooted in the context in which it thrives. I create interfaces and solutions that prioritize users, working hand in hand with them, guided by open dialogue, genuine curiosity, and a strong sense of empathy.</p>
        <p class="text--l">In essence, I feed my curiosity every day through design systems, accessible interface design, prototyping, and meaningful connections with real people. My ultimate goal is to continuously learn and grow, all while putting the human experience at the heart of design.</p>
    </div>

</section>

<hr>

<section class="row row-center">

    <div class="column">
        <img src="./img/about-expertises.jpg" alt="Wall of design researches for Méert">
    </div>

    <div class="column">
        <h2 class="title--m">How I can support your project</h2>

        <dl>
            <dt>
                <h3 class="title--s"><img src="./img/icon-search.svg" width="24px" height="24px" class="icon" alt="Looking glass icon">User research</h3>
            </dt>

            <dd class="text--m">
                Questionnaires, interviews, clear visual synthesis.
            </dd>

            <dt>
                <h3 class="title--s"><img src="./img/icon-pen.svg" width="24px" height="24px" class="icon" alt="Pen icon">Design</h3>
            </dt>

            <dd class="text--m">
                Wireframes, user interfaces mockups, design systems.
            </dd>

            <dt>
                <h3 class="title--s"><img src="./img/icon-check.svg" width="24px" height="24px" class="icon" alt="Check icon">Testing</h3>
            </dt>

            <dd class="text--m">
                Prototypes, test protocols and conducting user tests.
            </dd>

            <dt>
                <h3 class="title--s"><img src="./img/icon-people.svg" width="24px" height="24px" class="icon" alt="People icon">Workshops</h3>
            </dt>

            <dd class="text--m">
                Co-design and training in UX and UI design.
            </dd>
        </dl>
    </div>

</section>

<section>

    <table>
        <tr>
            <td class="table-head"><h4>Some references</h4></td>
            <td><img src="./img/logo-perfectdraft.svg" class="logo" alt="PerfectDraft"></td>
            <td><img src="./img/logo-beerhawk.svg" class="logo" alt="Beer Hawk"></td>
            <td><img src="./img/logo-vertbaudet.svg" class="logo" alt="Vertbaudet"></td>
        </tr>
        
        <tr>
            <td><img src="./img/logo-saveurbiere.svg" class="logo" alt="Saveur Bière"></td>
            <td><img src="./img/logo-cyrillus.svg" class="logo" alt="Cyrillus"></td>
            <td><img src="./img/logo-anywr.svg" class="logo" alt="Anywr"></td>
            <td><img src="./img/logo-meert.svg" class="logo" alt="Méert"></td>
        </tr>

        <tr>
            <td><img src="./img/logo-okaidi.svg" class="logo" alt="Okaïdi"></td>
            <td><img src="./img/logo-adeo.svg" class="logo" alt="Adeo"></td>
            <td><img src="./img/logo-leroymerlin.svg" class="logo" alt="Leroy Merlin"></td>
            <td><img src="./img/logo-laredoute.svg" class="logo" alt="La Redoute"></td>
        </tr>
    </table>
    
</section>
