---
title: François Vilaire, Product Designer
layout: layouts/base.njk
---

<h1 class="title--xl no-spacing">Hi, I'm François!</h1>
<p class="title--xl">A <a href="about.html">Product Designer</a> living in Lille.</p>

<p class="title--m">Since 2007, I have been working on multiple forms of <a href="projects.html">digital projects</a> in order to make people's lives easier, by combining usefulness with eye candy.</p>

<ul class="taglist">
    <li>UI Design</li>
    <li>UX Design</li>
    <li>Design Systems</li>
    <li>User Research</li>
    <li>Art Direction</li>
</ul>