---
title: François Vilaire, Product Designer
layout: layouts/base.njk
---

<section>
    <h1 class="title--l">Hello world! I'm François, a <a href="about.html">Product Designer</a> living in Lille.</h1>
    <p class="title--m">Since 2007, I have been doing UI and UX design for multiple forms of <a href="projects.html">digital projects</a>, in order to make people's lives easier by combining usefulness with eye candy.</p>
</section>

<section>
    <div class="row">
    {% for project in projects %}
        {% if (loop.index <= 2) %}
        <div class="column">
            <a href="{{ project.link }}" class="card-link">
                <div class="card {{ project.color }}" style="background-image: linear-gradient(180deg, rgba(0,0,0,0.9), rgba(0,0,0,0)), url('{{ project.thumbnail }}');">
                    <div class="card-content">
                        <div class="card-title">
                            <h3 class="title--s">{{ project.title }}</h3>
                            <img src="{{ project.pictogram }}" class="project-pictogram" width="40px" height="40px" alt="{{ project.title }} pictogram">
                        </div>
                        <p class="text--l">{{ project.summary }}</p>
                    </div>
                    <ul class="card-mention taglist">
                        <li>{{ project.tag01 }}</li>
                        <li>{{ project.tag02 }}</li>
                    </ul>
                </div>
            </a>
        </div>
        {% else %}
        {% endif %}
    {% endfor %}
    </div>

    <div class="row">
    {% for project in projects %}
        {% if (loop.index == 3) %}
        <div class="column">
            <a href="{{ project.link }}" class="card-link">
                <div class="card {{ project.color }}" style="background-image: linear-gradient(180deg, rgba(0,0,0,0.9), rgba(0,0,0,0)), url('{{ project.thumbnail }}');">
                    <div class="card-content">
                        <div class="card-title">
                            <h3 class="title--s">{{ project.title }}</h3>
                            <img src="{{ project.pictogram }}" class="project-pictogram" width="40px" height="40px" alt="{{ project.title }} pictogram">
                        </div>
                        <p class="text--l">{{ project.summary }}</p>
                    </div>
                    <ul class="card-mention taglist">
                        <li>{{ project.tag01 }}</li>
                        <li>{{ project.tag02 }}</li>
                    </ul>
                </div>
            </a>
        </div>
        {% endif %}
    {% endfor %}
        <div class="column">
            <div class="contact">
                <div class="card-content">
                    <h2 class="title--s">Should we talk? Want to see some more projects?</h2>
                    <p class="text--l">I can be reached by <a href="mailto:hello@francoisvilaire.com">email</a> and I am super corporate with my very own <a href="https://www.linkedin.com/in/fran%C3%A7ois-vilaire-9a9bb117/" target="_blank">Linkedin</a> profile.</p>
                </div>
                <div class="card-mention">
                    <p class="text--m">You can even find me on <a href="https://mastodon.design/@fvilaire" target="_blank">Mastodon</a>, because fediverse is love and Elon is not.</p>
                </div>
            </div>
        </div>
    </div>
</section>