---
title: François Vilaire, Product Designer
layout: layouts/base.njk
---

<h1>Hi, I'm a Product Designer in Lille.</h1>
<h2>Since 2007 I have been working to make people's lives easier by combining usefulness with pleasure.</h2>

<ul class="taglist">
    <li>UI Design</li>
    <li>UX Design</li>
    <li>Design Systems</li>
    <li>User Research</li>
</ul>

<ul>
    <li><img src="./img/logo-perfectdraft.svg" alt="PerfectDraft"></li>
    <li><img src="./img/logo-saveurbiere.svg" alt="Saveur Bière"></li>
    <li><img src="./img/logo-beerhawk.svg" alt="Beer Hawk"></li>
    <li><img src="./img/logo-adeo.svg" alt="Adeo"></li>
    <li><img src="./img/logo-leroymerlin.svg" alt="Leroy Merlin"></li>
    <li><img src="./img/logo-laredoute.svg" alt="La Redoute"></li>
    <li><img src="./img/logo-anywr.svg" alt="Anywr"></li>
    <li><img src="./img/logo-vertbaudet.svg" alt="Vertbaudet"></li>
    <li><img src="./img/logo-cyrillus.svg" alt="Cyrillus"></li>
    <li><img src="./img/logo-okaidi.svg" alt="Okaïdi"></li>
    <li><img src="./img/logo-jef.svg" alt="JEF"></li>
    <li><img src="./img/logo-meert.svg" alt="Méert"></li>
    <li>And more...</li>
</ul>