---
title: Portfolio | François Vilaire, Product Designer
layout: layouts/base.njk
permalink: portfolio.html
---

<h1>Et ce portfolio alors ?</h1>
<p> Oui, c'est bien ici. Ci-contre se trouvent quelques exemples de réalisations ayant ponctué mes années au service des internets et des utilisateurs.</p>
<p>Pour plus d'informations, de détails et de supports à consulter avec allégresse, je reste bien évidemment <a href="mailto:hello@francoisvilaire.com">joignable</a> pour vous rencontrer et papoter.</p>
<p>Bonne lecture !</p>