---
title: Beverage Platform | François Vilaire, Product Designer
layout: layouts/base.njk
permalink: project-beverageplatform.html
---

<section class="row">
    <div class="column column-80">
        <div class="flex-horizontal">
            <h1 class="title--l spacing-right project-color--blue">Beverage Platform</h1>
            <img src="./img/picto-beverageplatform.svg" class="project-pictogram hide-on-mobile" width="80px" height="80px" alt="Beverage Platform pictogram">
        </div>

        <ul class="taglist">
            <li>User Research</li>
            <li>UX/UI Design</li>
        </ul>

        <h2 class="title--m">Redesign a multi-purpose platform used from logistics to office teams, to make it far more user friendly and adaptable to any device and context.</h2>
        <p class="text--l">Interdrinks (an online beer retailer) had a suite of tools developed in-house to manage inventory, order preparation, customer service, product purchasing, financial tracking and more. But the user experience was discontinuous, difficult to get to grips with, and based on aging front-end technologies...</p>
        <p class="text--l">In just a few weeks, starting with a UI kit that I heavily re-adapted to our needs (while using a new custom identity) and working this time round with the users directly concerned during interviews and user tests, I was able to work on the complete design of a single centralized, responsive platform, easier to access for newcomers and regulars alike, and adaptable to every context of use... whether in the intense pace of a warehouse or within the confines of a comfortable office.</p>
        <p class="text--l">Figma example files are available <a href="mailto:hello@francoisvilaire.com" class="project-color--blue">on request</a>.
        <p class="text--s"><a href="index.html" class="project-color--blue">&larr; Go back to portfolio</a></p>
    </div>
</section>

<section class="row">
    <div class="column">
        <img src="./img/project-beverageplatform-order.jpg" alt="Screen of the interface to manage a customer order">
    </div>
</section>

<section class="row">
    <div class="column">
        <img src="./img/project-beverageplatform-customers.jpg" alt="Screen of the interface to find a customer">
    </div>
</section>

<section class="row">
    <div class="column column-50">
        <img src="./img/project-beverageplatform-warehouse.jpg" alt="Mobile screen of the interface for warehouse workers">
    </div>
    <div class="column column-50">
        <img src="./img/project-beverageplatform-logo.jpg" alt="Logo for Beverage Platform">
    </div>
</section>