---
title: PerfectDraft | François Vilaire, Product Designer
layout: layouts/base.njk
permalink: project-perfectdraft.html
---

<section class="row">
    <div class="column column-80">
        <div class="flex-horizontal">
            <h1 class="title--l spacing-right project-color--yellow">PerfectDraft</h1>
            <img src="./img/picto-perfectdraft.svg" class="project-pictogram hide-on-mobile" width="80px" height="80px" alt="PerfectDraft pictogram">
        </div>

        <ul class="taglist">
            <li>Design System</li>
            <li>UX/UI Design</li>
        </ul>

        <h2 class="title--m">Develop and implement robust product design processes, crafting a completely bespoke design system for the brand's digital products.</h2>
        <p class="text--l">As the Lead Product Designer, my mission was to empower our team in shaping the UI and UX design features across PerfectDraft's websites, platforms, and mobile app.</p>
        <p class="text--l">In close collaboration with the Lead Frontend Developer, I launched the creation of a comprehensive multi-brand design system (which would then be streamlined for all PerfectDraft brands), driving the revamp of our entire web and app ecosystem. We seamlessly integrated this design system's principles, leveraging insights from our user research.</p>
        <p class="text--l">Feel free to <a href="mailto:hello@francoisvilaire.com" class="project-color--yellow">request</a> Figma example files to dive deeper into our design journey. on request.
        <p class="text--s"><a href="index.html" class="project-color--yellow">&larr; Go back to portfolio</a></p>
    </div>
</section>

<section class="row">
    <div class="column">
        <img src="./img/project-perfectdraft-banner.jpg" alt="Banner from the design system">
    </div>
</section>

<section class="row">
    <div class="column">
        <img src="./img/project-perfectdraft-products.jpg" alt="Products list from the website">
    </div>
</section>

<section class="row">
    <div class="column column-50">
        <img src="./img/project-perfectdraft-cart.jpg" alt="Mobile cart page">
    </div>
    <div class="column column-50">
        <img src="./img/project-perfectdraft-handoff.jpg" alt="Color usage example from design system">
    </div>
</section>