---
title: Leroy Merlin | François Vilaire, Product Designer
layout: layouts/base.njk
permalink: project-leroymerlin.html
---

<section class="row">
    <div class="column column-80">
        <div class="flex-horizontal">
            <h1 class="title--l spacing-right project-color--green">Leroy Merlin</h1>
            <img src="./img/picto-leroymerlin.svg" class="project-pictogram hide-on-mobile" width="80px" height="80px" alt="Leroy Merlin pictogram">
        </div>

        <ul class="taglist">
            <li>User Research</li>
            <li>UX/UI design</li>
        </ul>

        <h2 class="title--m">Make order tracking more readable for employees, and help them keep the promise made to the customer.</h2>
        <p class="text--l">How to manage the follow-up of an order from start to finish, whether the customer goes through the web or through any Leroy Merlin store (and this at any time during the experience)? How can solutions be provided to employees in the event of problems with this order, to provide a clear and rapid response to the customer? How to build a tool in good coherence with the new design system of the company?</p>
        <p class="text--l">From interviews to design sprints, from wireframes to user tests, to faithful models based on a design system shared with the developers... it is to all these questions that we have sought to answer.</p>
        <p class="text--s"><a href="index.html" class="project-color--green">Go back to portfolio</a></p>
    </div>
</section>

<section class="row">
    <div class="column">
        <img src="./img/project-leroymerlin-designsprint.jpg" alt="Photo from the design sprint">
    </div>
</section>

<section class="row">
    <div class="column">
        <img src="./img/project-leroymerlin-order.jpg" alt="Screen of the interface to manage a customer order">
    </div>
</section>

<section class="row">
    <div class="column column-50">
        <img src="./img/project-leroymerlin-chat.jpg" alt="Screen of the interface for workers to chat">
    </div>
    <div class="column column-50">
        <img src="./img/project-leroymerlin-logo.jpg" alt="Logo for Tempo">
    </div>
</section>