---
title: Méert | François Vilaire, Product Designer
layout: layouts/base.njk
permalink: project-meert.html
---

<section class="row">
    <div class="column column-80">
        <div class="flex-horizontal">
            <h1 class="title--l spacing-right project-color--red">Méert</h1>
            <img src="./img/picto-meert.svg" class="project-pictogram hide-on-mobile" width="80px" height="80px" alt="Méert pictogram">
        </div>

        <ul class="taglist">
            <li>Art Direction</li>
            <li>UI Design</li>
        </ul>

        <h2 class="title--m">We set off on a project to breathe fresh life and unity into the online presence of Lille's renowned pastry shop, Meert.</h2>
        <p class="text--l">When we began the redesign of meert.fr, the brand was scattered across four different websites: two online stores and two showcase websites. Our aim was crystal clear – to strengthen and consolidate everything into a single, powerful platform. This endeavor was backed by a more ambitious artistic vision, one that paid homage to the centuries-old history and expertise of Meert.</p>
        <p class="text--l">The result? A singular, all-encompassing digital haven that does justice to Meert's heritage.</p>
        <p class="text--s"><a href="index.html" class="project-color--red">&larr; Go back to portfolio</a></p>
    </div>
</section>

<section class="row">
    <div class="column">
        <img src="./img/project-meert-homepage.jpg" alt="Méert homepage">
    </div>
</section>

<section class="row">
    <div class="column">
        <img src="./img/project-meert-cakes.jpg" alt="Access to Méert products">
    </div>
</section>

<section class="row">
    <div class="column column-50">
        <img src="./img/project-meert-cart.jpg" alt="Cart page">
    </div>
    <div class="column column-50">
        <img src="./img/project-meert-restaurants.jpg" alt="Access to the restaurants pages">
    </div>
</section>