---
title: PerfectDraft | François Vilaire, Product Designer
layout: layouts/base.njk
permalink: project-perfectdraft.html
---

<section class="row">
    <div class="column column-80">
        <div class="flex-horizontal">
            <h1 class="title--l spacing-right project-color--yellow">PerfectDraft</h1>
            <img src="./img/picto-perfectdraft.svg" class="project-pictogram hide-on-mobile" width="80px" height="80px" alt="PerfectDraft pictogram">
        </div>

        <ul class="taglist">
            <li>Design System</li>
            <li>UX/UI Design</li>
        </ul>

        <h2 class="title--m">Establish and apply product design processes and a fully custom design system for the brand's digital products.</h2>
        <p class="text--l">As Lead Product Designer, my mission was to support my team in the UI and UX design of the functionalities of PerfectDraft's websites, platforms and mobile app.</p>
        <p class="text--l">In this context, in collaboration with the Lead Frontend Developer, I launched a complete multi-brand design system (which will later be refocused on the convergence of all PerfectDraft brands), and took part in the redesign of all our sites and apps, following the precepts of this design system and drawing on the results of our user research.</p>
        <p class="text--l">Figma example files are <a href="mailto:hello@francoisvilaire.com" class="project-color--yellow">available on request</a>.
        <p class="text--s"><a href="index.html" class="project-color--yellow">&larr; Go back to portfolio</a></p>
    </div>
</section>

<section class="row">
    <div class="column">
        <img src="./img/project-perfectdraft-banner.jpg" alt="Banner from the design system">
    </div>
</section>

<section class="row">
    <div class="column">
        <img src="./img/project-perfectdraft-products.jpg" alt="Products list from the website">
    </div>
</section>

<section class="row">
    <div class="column column-50">
        <img src="./img/project-perfectdraft-cart.jpg" alt="Mobile cart page">
    </div>
    <div class="column column-50">
        <img src="./img/project-perfectdraft-handoff.jpg" alt="Color usage example from design system">
    </div>
</section>