---
title: Beverage Platform | François Vilaire, Product Designer
layout: layouts/base.njk
permalink: project-beverageplatform.html
---

<section class="row">
    <div class="column column-80">
        <div class="flex-horizontal">
            <h1 class="title--l spacing-right project-color--blue">Beverage Platform</h1>
            <img src="./img/picto-beverageplatform.svg" class="project-pictogram hide-on-mobile" width="80px" height="80px" alt="Beverage Platform pictogram">
        </div>

        <ul class="taglist">
            <li>User Research</li>
            <li>UX/UI Design</li>
        </ul>

        <h2 class="title--m">We embarked on an exciting journey to remodel Interdrinks' versatile platform, designed to serve both logistics and office teams. Our goal: to make it exceptionally user-friendly and adaptable, catering to any device or context.</h2>
        <p class="text--l">Interdrinks, a dynamic online beer retailer, previously relied on a patchwork of in-house tools to handle inventory, order preparation, customer service, procurement, and financial tracking, among other things. But the user experience left much to be desired, burdened by outdated front-end technologies.</p>
        <p class="text--l">In just a few short weeks, armed with a thoughtfully reimagined UI kit and a fresh, custom identity, I teamed up directly with the end-users. Through interviews and rigorous testing, we breathed new life into the platform, resulting in a comprehensive redesign. The outcome? A centralized, responsive platform that's not only a breeze for newcomers but also a joy for seasoned users. It seamlessly adapts to every environment, whether it's the buzzing energy of a warehouse or the cozy confines of an office.</p>
        <p class="text--l">Ready to dive into the transformation? Simply <a href="mailto:hello@francoisvilaire.com" class="project-color--blue">request</a> the Figma example files to witness the power of user-driven design in action..
        <p class="text--s"><a href="index.html" class="project-color--blue">&larr; Go back to portfolio</a></p>
    </div>
</section>

<section class="row">
    <div class="column">
        <img src="./img/project-beverageplatform-order.jpg" alt="Screen of the interface to manage a customer order">
    </div>
</section>

<section class="row">
    <div class="column">
        <img src="./img/project-beverageplatform-customers.jpg" alt="Screen of the interface to find a customer">
    </div>
</section>

<section class="row">
    <div class="column column-50">
        <img src="./img/project-beverageplatform-warehouse.jpg" alt="Mobile screen of the interface for warehouse workers">
    </div>
    <div class="column column-50">
        <img src="./img/project-beverageplatform-logo.jpg" alt="Logo for Beverage Platform">
    </div>
</section>