---
title: Projects | François Vilaire, Product Designer
layout: layouts/base.njk
permalink: projects.html
---

<section class="row">
    <div class="column">
        <h1 class="title--l">3 examples of projects</h1>
        <p>Here is a (very) short selection of projects representative of the range of skills that I can put at your service.</p>
        <p>For more information, details and other examples, I obviously <a href="mailto:hello@francoisvilaire.com">remain reachable</a> to meet you and chat.</p>
    </div>
</section>

<section class="row">
    {% for project in projects %}
    <div class="column">
        <a href="{{ project.link }}">
            <div class="card">
                <div class="card-images">
                    <img src="{{ project.pictogram }}" class="project-pictogram" width="200px" alt="{{ project.title }} pictogram">
                    <img src="{{ project.thumbnail }}" class="project-thumbnail" alt="{{ project.title }} thumbnail">
                </div>
                <div class="card-section">
                    <h3 class="title--s">{{ project.title }} <span class="card-icon"><svg xmlns="http://www.w3.org/2000/svg" width="22" height="18" viewBox="0 -2 22 18" class="icon-arrow-right"><polygon points="20.3 7 14.2 0.9 12.4 2.7 15.5 5.8 1.7 5.8 1.7 8.3 15.5 8.3 12.4 11.3 14.2 13.1 20.3 7 20.3 7 " fill="#f4f4f4"/></svg></span></h3>
                    <p>{{ project.jobs }}</p>
                </div>
            </div>
        </a>
    </div>
    {% endfor %}
</section>