---
title: PerfectDraft | François Vilaire, Product Designer
layout: layouts/base.njk
permalink: project-perfectdraft.html
---

<section class="row">
    <div class="column column-80">
        <div class="flex-horizontal">
            <h1 class="title--l spacing-right project-color--yellow">PerfectDraft</h1>
            <img src="./img/picto-perfectdraft.svg" class="project-pictogram hide-on-mobile" width="80px" height="80px" alt="PerfectDraft pictogram">
        </div>

        <ul class="taglist">
            <li>User Research</li>
            <li>UX/UI design</li>
        </ul>

        <h2 class="title--m">Make order tracking more readable for employees, and help them keep the promise made to the customer.</h2>
        <p class="text--l">How to manage the follow-up of an order from start to finish, whether the customer goes through the web or through any Leroy Merlin store (and this at any time during the experience)? How can solutions be provided to employees in the event of problems with this order, to provide a clear and rapid response to the customer? How to build a tool in good coherence with the new design system of the company?</p>
        <p class="text--l">From interviews to design sprints, from wireframes to user tests, to faithful models based on a design system shared with the developers... it is to all these questions that we have sought to answer.</p>
        <p class="text--s"><a href="index.html" class="project-color--yellow">&larr; Go back to portfolio</a></p>
    </div>
</section>

<section class="row">
    <div class="column">
        <img src="./img/project-perfectdraft-banner.jpg" alt="Banner from the design system">
    </div>
</section>

<section class="row">
    <div class="column">
        <img src="./img/project-perfectdraft-products.jpg" alt="Products list from the website">
    </div>
</section>

<section class="row">
    <div class="column column-50">
        <img src="./img/project-perfectdraft-cart.jpg" alt="Mobile cart page">
    </div>
    <div class="column column-50">
        <img src="./img/project-perfectdraft-handoff.jpg" alt="Color usage example from design system">
    </div>
</section>