// Color
// ––––––––––––––––––––––––––––––––––––––––––––––––––

$color-initial: #151719 !default;
$color-primary: #25b4fe !default;
$color-secondary: #f4f4f4 !default;
$color-tertiary: #dddddd !default;
$color-quaternary: #cccccc !default;
$color-quinary: #999999 !default;
