// Color
// ––––––––––––––––––––––––––––––––––––––––––––––––––

// Primary
$color-primary: #25b4fe !default;

// Greys
$color-grey-darkest: #0a0b0c !default;
$color-grey-darker: #151719 !default;
$color-grey-dark: #474d53 !default;
$color-grey: #8b8f94 !default;
$color-grey-light: #bec6cc !default;
$color-grey-lighter: #dde8ec !default;
$color-grey-lightest: #f4f4f4 !default;

// Basic
$color-black: #000;
$color-white: #fff;