// Color
// ––––––––––––––––––––––––––––––––––––––––––––––––––

// Main
$color-primary: #FFED50 !default;
$color-green: #C7FF50 !default;
$color-red: #FF5E5E !default;

// Greys
$color-grey-darkest: #111 !default;
$color-grey-darker: #333 !default;
$color-grey-dark: #666 !default;
$color-grey: #888 !default;
$color-grey-light: #aaa !default;
$color-grey-lighter: #ccc !default;
$color-grey-lightest: #eee !default;

// Basic
$color-black: #000;
$color-white: #fff;