// Typography
// ––––––––––––––––––––––––––––––––––––––––––––––––––

b,
strong {
  font-family: 'SpaceGrotesk-Bold', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-weight: 700;
  color: $color-white;
}

p {
  font-size: 1.6rem;
  line-height: 1.5;
  margin-bottom: 1.6rem;
  margin-top: 0;
  color: $color-grey-lightest;
}

.text--l,
.text--m,
.text--s {
  font-family: 'SpaceGrotesk-Regular', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: $color-grey-lightest;
  margin-top: 0;
}

.text--l {
  font-size: 2.0rem;
  margin-bottom: 2.0rem;
}

.text--m {
  font-size: 1.8rem;
  margin-bottom: 1.8rem;
}

.text--s {
  font-size: 1.6rem;
  margin-bottom: 1.6rem;
}


.title--l,
.title--m,
.title--s {
  font-family: 'SpaceGrotesk-Bold', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-weight: 700;
  color: $color-white;
  margin-top: 0;
}

.title--l.project-color--blue,
.title--m.project-color--blue,
.title--s.project-color--blue {
  color: $color-blue;
}

.title--l.project-color--red,
.title--m.project-color--red,
.title--s.project-color--red {
  color: $color-red;
}

.title--l.project-color--green,
.title--m.project-color--green,
.title--s.project-color--green {
  color: $color-blue;
}

.title--l.project-color--yellow,
.title--m.project-color--yellow,
.title--s.project-color--yellow {
  color: $color-yellow;
}


.title--l {
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 2.4rem;
}

.title--m {
  font-family: 'SpaceGrotesk-Medium', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.3;
  margin-bottom: 2.4rem;
}

.title--s {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: 1.6rem;
}

@media (min-width: 40rem) {
  .text--l {
    font-size: 2.4rem;
    margin-bottom: 2.4rem;
  }
  
  .text--m {
    font-size: 2.0rem;
    margin-bottom: 2.0rem;
  }
  
  .text--s {
    font-size: 1.6rem;
    margin-bottom: 1.6rem;
  }

  .title--l {
    font-size: 7.2rem;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 4.0rem;
  }
  
  .title--m {
    font-family: 'SpaceGrotesk-Medium', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    font-size: 4.0rem;
    font-weight: 500;
    line-height: 1.3;
    margin-bottom: 4.0rem;
  }
  
  .title--s {
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 1.6rem;
  }
}