<p class="text--s">This small personal website, handcrafted with Figma and <a href="https://www.11ty.dev/" target="_blank">Eleventy</a>, strives to follow the main principles of accessibility and atomic design.</p>