<p>To know more about my background, our friend <a href="https://www.linkedin.com/in/fran%C3%A7ois-vilaire-9a9bb117/" target="_blank">Linkedin</a> is here, as well as the email address <a href="mailto:hello@francoisvilaire.com">hello@francoisvilaire.com</a>.</p>