<nav>
    <ul>
        <li class="myname">
            <a href="index.html">François Vilaire</a>
        <li>
            <a href="about.html" class="{{ 'active' if '/about' in page.url }}">About</a>
        </li>
        <li>
            <a href="projects.html" class="{{ 'active' if '/projects' in page.url }}">Projects</a>
        </li>
    </ul>
</nav>