<div class="logo">
    <a href="index.html">
        François Vilaire
    </a>
</div>

<nav>
    <ul>
        <li>
            <a href="index.html" class="{{ '' if '/about' in page.url or '/portfolio' in page.url else 'active' }}">Home</a>
        </li>
        <li>
            <a href="about.html" class="{{ 'active' if '/about' in page.url }}">About</a>
        </li>
        <li>
            <a href="portfolio.html" class="{{ 'active' if '/portfolio' in page.url }}">Portfolio</a>
        </li>
    </ul>
</nav>