<nav>
    <ul>
        <li class="myname">
            <a href="index.html"><img src="./img/picto-fvilaire.svg" width="14px" height="24px" alt="{{ project.title }} pictogram"><span class="hide-on-mobile">François Vilaire</span></a>
        </li>
        <li>
            <a href="index.html" class="{{ '' if '/about' in page.url else 'active' }}">Portfolio</a>
        </li>
        <li>
            <a href="about.html" class="{{ 'active' if '/about' in page.url }}">About</a>
        </li>
    </ul>
</nav>