.card {
    transition: all 0.25s ease-out;
    margin: 0;
    border: 0.2rem solid $color-grey-dark;
    background-size: cover;
    background-repeat: no-repeat;
    aspect-ratio: 4 / 3;
}

.card-content {
    padding: 4.8rem;
    .card-title {
        display: flex;
    }
    
    .card-title h3 {
        margin-right: 0.8rem;
    }
    
    .card p {
        color: $color-grey-light;
        font-size: 1.6rem;
        margin: 0;
    }
}

.taglist {
    padding: 4.8rem;
}

a:hover {
    text-decoration: none;
}

@media (min-width: 40rem) {

}
