// Image
// ––––––––––––––––––––––––––––––––––––––––––––––––––

img {
  max-width: 100%;
}

img.logo {
  max-width: none;
  margin: 1.6rem;
}

img.icon {
  margin-right: 1.2rem;
}

@media (max-width: 60rem) {
  img.portrait {
    max-width: 410px;
  }
}

[src$=".jpg"] {
  border: 2px solid $color-white;
}