// Link
// ––––––––––––––––––––––––––––––––––––––––––––––––––

a {
  color: $color-primary;
  text-decoration: none;

  &:focus,
  &:hover {
    text-decoration: underline;
  }
}

a.project-color--yellow {
    color: $color-yellow;
}

a.project-color--green {
    color: $color-green;
}

a.project-color--blue {
    color: $color-blue;
}

a.project-color--red {
    color: $color-red;
}
