// List
// ––––––––––––––––––––––––––––––––––––––––––––––––––

dl,
ol,
ul {
  list-style: none;
  margin-top: 0;
  padding-left: 0;

  dt {
    margin: 0;
    padding-left: 0;
  }

  dd,
  li {
    margin: 0 0 3.2rem 0;
    padding-left: 0;
  }
}