.taglist {
    padding: 2.4rem 0;
    margin:0;
    display: flex;
    flex-wrap: wrap;
    li {
        margin-right: 0.8rem;
        list-style: none;
        flex-direction: column;
        font-size: 1.6rem;
        white-space: nowrap;
        border: 1px solid $color-grey-dark;
        border-radius: 0.4rem;
        padding: 0.4rem 0.8rem;
    }
}