footer {
    position: relative;
    width: 100%;
    padding: 0 3.2rem 4.8rem 3.2rem;
    background-color: $color-grey-darkest;
    p {
        font-size: 1.6rem;
        color: $color-grey-light;
    }
}