header {
    background-color: rgba(17, 17, 17, 0.6);
    -webkit-backdrop-filter: blur(32px);
    backdrop-filter: blur(32px);
    width: 100%;
    position: fixed;
    z-index: 999;

    nav {
        max-width: 128rem;
        padding: 2.4rem 3.2rem;
        margin: 0 auto;

        ul {
        margin: 0;
        display: flex;
        gap: 1.6rem;

            li {
                margin:0;
                list-style: none;
                flex-direction: column;
                a {
                    color: $color-grey-lighter;
                }
                a.active {
                    text-decoration: underline;
                }
                a:hover {
                    color: $color-primary;
                    text-decoration: none;
                }
            }

            .myname a {
                font-family: 'SpaceGrotesk-Medium', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
                font-weight: 500;
                color: $color-grey-lightest;
            }

        }
    }

}

@media (min-width: 40rem) {
    header nav {
        padding: 4.0rem 4.8rem;
        ul {
            gap: 3.2rem;
            a {
                font-size: 2.0rem;
            }
        }
    }

    .myname {
        width: 100%;
    }
}