<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="./css/styles.css" />
</head>
<body>

    <a id="top"></a>

    <header>
        {% include "header.njk" %}
    </header>

    <main class="container">
        {{ content | safe }}
    </main>

    <footer class="center">
        {% include "footer.njk" %}
    </footer>

</body>
</html>